#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.adminPage {
  display: flex;
  flex-wrap: wrap;
  color: black;
}

.menu {
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px 0;
}

.content {
  flex: 1;
  padding: 20px;
}
.candidate{
  display: flex;
  /* align-items:; */
  justify-content: space-between;
  gap: 2rem;
  
}

.candidate-list {
  display: flex;
  flex: 8;
  flex-wrap: wrap;
  gap: 20px;
}

.candidate-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 100%;
  max-width: 300px;
  flex: 1 1 calc(33.333% - 20px);
}

.candidate-card img {
  width: 100%;
  height: auto;
}

.add-candidate {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 4;
}

.add-candidate input,
.add-candidate textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

.add-candidate button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
  }

  .content {
    padding: 10px;
  }

  .candidate-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .candidate-card {
    flex: 1 1 100%;
  }
}
